.faq-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 20px var(--main-x-padding) 50px var(--main-x-padding);
  color: white;
  background-color: var(--primary-black);
}

.faq-title {
  font-size: 2.8rem;
  text-align: center;
}

@media (max-width: 900px) {
  .faq-title {
    font-size: 1.8rem;
  }
}
