.language-menu {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1.2rem 1.5rem;
}

.language-menu .select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  padding: 5px;
  padding-left: 40px;
  padding-right: 35px;
  margin-right: 0.5rem;
  top: 0;
  right: 0;
  background-color: white;
  background-image: linear-gradient(180deg, rgb(15, 15, 15), rgb(15, 15, 15));
  font-size: 1rem;
  line-height: 1.7;
  border: 1px solid #b3b3b3;
  border-radius: 2px;
}

.select-wrapper {
  display: inline;
  position: relative;
}

.select-wrapper::after {
  content: url('../../../assets/arrow-down.svg');
  filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%)
    contrast(106%);
  width: 10px;
  height: 10px;
  pointer-events: none;
  position: absolute;
  right: 25px;
  top: 10px;
}

.select-wrapper::before {
  content: url('../../../assets/languages-icon.svg');
  filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%)
    contrast(106%);
  width: 17px;
  height: 17px;
  pointer-events: none;
  position: absolute;
  left: 12px;
  top: 12px;
}
