.button {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 12px;
  font-family: 'NetflixSans', Arial, Helvetica, sans-serif;
  border-radius: 4px;
  transition: all 0.12s ease-in-out;
  cursor: pointer;
}

.primary {
  background-color: #e20813;
}

.secondary {
  border: 1px solid var(--primary-grey);
  background-color: transparent;
}

.primary:hover {
  background-color: var(--primary-red-hover);
}

.secondary:hover {
  background-color: var(--primary-grey-hover);
}
