.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-black);
  color: white;
  padding: 50px var(--main-x-padding);
  border-top: 8px solid var(--primary-grey);
}

.reverse {
  flex-direction: row-reverse;
}

.section-left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.section-left,
.section-right {
  flex: 1;
}

.section-left h1 {
  font-size: 3rem;
}

.section-left p {
  font-size: 1.5rem;
}

.section-right img {
  width: 100%;
}

@media (max-width: 900px) {
  .section-container {
    flex-direction: column;
    justify-content: center;
  }

  .section-left {
    align-items: center;
    text-align: center;
  }

  .section-left h1 {
    font-size: 2rem;
  }

  .section-left p {
    font-size: 1.1rem;
  }
}

@media (max-width: 600px) {
}
