footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 30px var(--main-x-padding);
  background-color: var(--primary-black);
  color: rgba(255, 255, 255, 0.7);
  border-top: 8px solid var(--secondary-grey);
  gap: 15px;
}

.footer-links-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  grid-gap: 15px;
  width: 100%;
}

.footer-link {
  text-decoration: underline;
  font-size: 1rem;
}

.footer-links-list .footer-link {
  font-size: 0.9rem;
}

footer p {
  font-size: 0.9rem;
}

footer .language-menu {
  margin: 0;
}

@media (max-width: 950px) {
  .footer-links-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
